version: '3.7'
services:
  postgres:
    image: postgres
    restart: always
    ports:
      - '5434:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: test_h1bhub_pg
      POSTGRES_PASSWORD: password
